body{
    padding: 0px;
    margin: 0px;
}
h1,h2,h3,h4,h5,h6{
    padding: 0px;
    margin: 0px;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    background-color: black;
    color: white;    
}
.overall{
   padding: 50px;
   padding-left: 90px;
   padding-top: 50px;
}
h2{
    font-size: 40px;
}
p{
    font-size: large;
}
.name input{
    padding: 5px;
    width: 600px;
}
.mail input{
    padding: 5px;
    width: 600px; 
}
button{
    margin-top: 20px;
    padding: 5px;
    width: 90px;
    color: white;
    background-color: blue;
    border-radius: 5px;
}
.line{
    border: 1px solid rgb(157, 155, 155);
    width: 800px;
    margin-top: 30px;
}
.del{
    display: none;
}